* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #292929;
}

.header .loglink .link {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

.header .logout .linklogout {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.header .search-box {
    position: relative;
    display: flex;
    height: 30px;
    left: 980px;
}

.header .search-box .search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 30px;
    height: 30px;
}

.header .search-box .search-txt {
    border: none;
    outline: none;
}

.main .container {
    width: 1140px;
    margin: 0 auto;
}

.main .container .logo {
    padding-top: 30px;
}

.main .container .logo .login_text {
    margin-left: 45px;
}

.title {
    font-family: sans-serif;
    padding-top: 40px;
    text-align: center;
    font-size: 35px;
}

.patients {
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.patients .patient {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 30px;
    border: 2px solid aquamarine;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

.linkPrev {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 2px solid aquamarine;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

.linkPatient :hover {
    background-color: aquamarine;
}

.linkWriteOut :hover {
    background-color: red;
    color: white;
}

.write{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 30px;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

.write_out {
    height: 200px;
}

