* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    width: 1140px;
    margin: 0 auto;
}

.dws-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dws-form {
    position: relative;
    bottom: 100px;
    background-color: #292929;
    padding: 10px;
    width: 330px;
}

.dws-form a {
    text-decoration: none;
    transition: .5s;
    color: white;
}

.dws-form a:hover {
    color: aquamarine;
}

.dws-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dws-form input {
    display: block;
    width: 100%;
}

.del {
    display: none;
}

label {
    color: white;
    font-weight: 600;
    padding: 10px;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    cursor: pointer;
}

.tab.active {
    background-color: aquamarine;
    color: black;
}

.tab-form {
    display: none;
    padding: 30px 20px 20px;
}

.tab-form.active {
    display: block;
}

.input {
    font-size: 16px;
    border: 2px solid #e9eaea;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 22px;
    outline: none;
}

.button {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    line-height: 46px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.social {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.forgot {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}